<div class="index-container">
  <h1>Requests</h1>

  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @application.requests.each do |request| %>
        <tr>
          <td><h2><%= link_to request.name, '/applications/'+request.application_id.to_s+'/requests/'+request.id.to_s %></h2></td>
          <td>
            <% if request.passing.class == TrueClass %>
              <div class="btn btn-lg btn-success passing-icon">Success</div>
            <% else %>
              <div class="btn btn-lg btn-warning failing-icon">Failing</div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New request', new_application_request_path(@application) %>
  <br>
  <%= link_to 'My applications', applications_path %>

</div>
