<!DOCTYPE html>
<html>
<head>
  <title>RZtestTube</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8" />
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400' rel='stylesheet' type='text/css'>
  </head>
</head>
<body>
<div class="header-container">
	<a href="/applications"><h1 class="page-heading">RZtestTube</h1></a>
</div>

<div class="content">
	<%= yield %>
</div>

</body>
</html>
